html {
    background-color: lightblue;
}

body {
    color: darkblue;
    
    padding-left: 30%;
}

.link {
    margin: 10px;
}

form section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 10px;
}

form section section {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1024px) {
    body {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 512px) {
    body {
        padding-left: 10%;
    }
}